---
import { getCollection } from "astro:content";
import { formatPeriod } from "../utils/date";

const entries = (await getCollection("experience")).sort((a, b) => {
  return b.data.start.localeCompare(a.data.start);
});
---

<section class="space-y-6">
  <div class="time-line-container mb-12">
    {
      entries.map(({ data }) => (
        <div class="flex">
          <div class="education__time">
            <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
            <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
          </div>
          <div class="experience__data bd-grid px-5">
            <h2 class="text-lg md:text-xl font-bold mb-1">{data.company}</h2>
            <h3 class="text-lg md:text-xl font-semibold mb-1">{data.title}</h3>
            <span class="font-light md:text-lg">{formatPeriod(data.start, data.end)}</span>

            <div class="my-2 text-justify">
              {data.tech && data.tech.length > 0 && (
                <div class="card-actions justify-start my-4">
                  {data.tech.map((tech) => (
                    <div class="badge badge-outline rounded-full p-2 md:p-3 lg:text-lg">
                      {tech}
                    </div>
                  ))}
                </div>
              )}

              {data.description && data.description.length > 0 && (
                <ul class="list-disc list-outside ml-6 mb-6 text-sm md:text-lg space-y-1">
                  {data.description.map((item) => (
                    <li>{item}</li>
                  ))}
                </ul>
              )}

              {data.projects && data.projects.length > 0 && (
                <div class="mb-6">
                  <h4 class="text-lg md:text-xl font-bold mb-1">Projects Highlights</h4>
                  <div class="space-y-2 mt-2">
                    {data.projects.map((project) => (
                      <div>
                        <div class="text-lg md:text-xl font-semibold mb-1">
                          {project.name}
                        </div>
                        {project.details && project.details.length > 0 && (
                          <ul class="list-disc list-outside ml-6 mb-6 text-sm md:text-lg space-y-1">
                            {project.details.map((detail) => (
                              <li>{detail}</li>
                            ))}
                          </ul>
                        )}
                      </div>
                    ))}
                  </div>
                </div>
              )}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
