---
const { title, img, desc, url, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[16rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl md:text-2xl font-bold">
          {title} 
        </h1>
        <p class="py-4 text-base md:text-lg" set:html={desc}></p>
        <div class="card-actions justify-start">
          {
            tags &&
              tags.map((tag) => (
                <a class="badge badge-neutral rounded-full p-2 md:p-3 lg:text-lg hover:border-primary lg:hover:text-xl hover:shadow-lg transition-all duration-300">
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
